<html>
   <head>
      <title>Walmart API Homework</title>
      
      <style>
    img.adjust {
    margin: 5;
    border: 1px solid #ccc;
    float:left;
    
}	

   img:hover {
    border: 1px solid #777;
}

  img.desired {
    width: auto;
    height: auto;
}
          p.blue{
              color: blue;
          }
          
          strong.green{
              color: lawngreen;
              
          }
         table, th , td {
            border: 0px solid grey;
            border-collapse:collapse ;
            padding: 2px;
         }
         
         table tr:nth-child(odd) {
            background-color:beige;
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
      </style>
<!-- The online source for Angular API -->
<!--
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
       <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
-->
       <script src="//code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
      <script src="//code.angularjs.org/1.3.0-rc.2/angular-resource.min.js"></script>
       
<!--       Bootstarp Reference (Online)-->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
       <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
       
       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   
    </head>
    
   <body>
       
      <h2>Walmart Product Search Application</h2>
       
      <div ng-app= "myApp" ng-controller = "walmartAssnController">
          
<!--Search Button and Input saved to Attribute using ng-model ='searchItem'   -->
       <div class="col-lg-6">
         <div class="input-group">
      <input type="text" ng-model="item" class="form-control" placeholder="Search for...">
          
             <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="searchProductMethod()" type="button">Get Product!</button>
      </span>
    </div> 
  </div><!-- /.col-lg-6 -->
<!-- /.row -->
      
      <br/><br/><h2> All results Relevant to <strong class="green"> {{searchedProducts.query}} </strong></h2>
          
         <table class="table table-hover">
<!-- iterating and displaying searched products Using AngularJs Directive  -->
             <tr ng-repeat="product in searchedProducts.items">
                
<!-- displaying Product's image  -->
                  <td  width="15%"><div>
                       
                      <span ng-repeat="img1 in product.imageEntities">
                          <img class="desired adjust" ng-src="{{img1.thumbnailImage}}"> </span> </div></td> 
                
                    <span><td width="22%"> {{ product.name }}
                        <br/><p> Item Number : {{product.itemId}} </p> <br/>
                        <p class="blue" >{{ product.salePrice | currency:"USD$" }}</p> 
                    
                        <br/><li role="presentation" class="active"><a href="#">Customer Rating <span class="badge"> {{ product.customerRating }} </span></a></li>
                       
                        </td></span>
                    <td><blockquote> {{product.shortDescription}}</blockquote>
                      
                 </td></tr> 

            </table>

<!--  View for the Recommended products Start here        -->
            <br/><br/>         
           <table class="table table-hover">
               <thead><h4><strong> Recommended Products for Item ID:</strong> {{productId}}</h4></thead> 

               <!-- iterating and displaying searched products Using AngularJs Directive  -->
             <tr><td width="40%" ng-repeat="recProduct in recommendedProducts | orderBy:'-customerRating'">
                
<!-- displaying Recommended Product's image  -->                       
                 <table class="table table-hover">
                    <tr>
                        <td>
                          <img class="desired adjust"
                               ng-src="{{recProduct.thumbnailImage}}"></td></tr>
                        <tr><td width="30%">{{ recProduct.name }}</td></tr>
                    <tr><td><p> Item Number : {{recProduct.itemId}}</p>
                    <p class="blue" >{{ recProduct.salePrice | currency:"USD$" }} {{recProduct.stock}}</p> 
                    
                    <img class="desired adjust" ng-src="{{recProduct.customerRatingImage}}">({{recProduct.numReviews}}) </td></tr>
                 </table>
                 </td></tr> 
              </table>          

      
<!-- AngularJs Controller Code. We can cut and paste the the "Controller Code" below
        in separte JavaScript file, and then, load it by using <script src="File_Location"> -->
      <script>
         var walmartAssn= angular.module('myApp', ['ngResource']);
       
          walmartAssn.controller('walmartAssnController', function($scope,$resource) {
            
              var urlSearchProductApi= 'http://api.walmartlabs.com/v1/search';
              var urlRecProductApi='http://api.walmartlabs.com/v1/nbp';
            var keyApi='6r6k2hvgs7z9b9wba24zuqeg';
              
              $scope.searchProductMethod= function(){
                  $scope.searchItem = $scope.item ;
                  
//  Walmart Api Search Product Call Request  
                  searchRequest=  $resource(urlSearchProductApi, { callback: "JSON_CALLBACK" }, { get: { method: "JSONP" }});
                  
                  $scope.searchedProducts = searchRequest.get({ apiKey: keyApi, query: $scope.searchItem });
                  
//  on success callback function
                    $scope.searchedProducts.$promise.then(function(eventDetail){
                    $scope.productId= eventDetail.items[0].itemId;
//  Processing Recommended Products for the first item returned         
                    recommendRequest =  $resource(urlRecProductApi, { callback: "JSON_CALLBACK" }, { get: { method: 'JSONP', isArray:true }});
            
                $scope.recommendedProducts = recommendRequest.get({ apiKey: keyApi, itemId: $scope.productId });
                        
                        console.log(eventDetail);
                  console.log($scope);
          
              });
   
              }
               console.log($scope);
                               
                ];
         }); 
      </script>
         </div>
   </body>
</html>
